<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="container">
        <h1>Login page</h1>
        <form class="contact-form" action="/login" method="post">
            <div>
                <label for="username">username</label>
                <input type="text" id="username" name="username" value="">
            </div>
                <label for="pw">pw</label>
                <input type="password" id="pw" name="pw" value="">
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
        <a href="/register">register</a>
    </div>
</body>
</html>