<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/nav %>

    <div class="container">
        <h1>this is main page</h1>
        <br>
        <%= data %>
        <!-- <% for(let user of data) { %>
            username : <%= user.username %> <br>
            email : <%= user.email %>
            <br> <br>
        <% } %> -->
    </div>
</body>
</html>